@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

.layout {
  background: url(./assets/img/background.jpeg);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Raleway;
  color:#133b60
}

.buttonsBuono{
  border: none;
  border-radius: 25px;
  background-color: #133b60;
  color:aliceblue;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  font-family: Raleway;
}
.link{
  margin-top: 10px;
  font-size: 1.25rem;
  text-decoration: none;
  color: #133b60;
  font-family: Raleway;
}

.imgLogo{
  width: 200px;
  margin: 10px;
}

.formsPage{
  background: url(./assets/img/background.jpeg);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#133b60;
  font-family: Raleway;
}
.formsPage > img{
  width: 150px;
}

.formsPage > form{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.formsPage > form > input{
  display: flex;
  font-family: Raleway;
  width: 80vw;
  height: 3vh;
  margin: 5px;
  border-radius: 15vw;
  text-align: center;
  font-size: 16px;
  border: none;
  color:#133b60;
  box-shadow: 2px 1px 2px 1px #46464610;
}
.formsPage > button{
  width: 40vw;
  font-family: Raleway;
}

.text-danger{
  color: red;
}

.singleProduct{
  display: flex;
  font-family: Raleway;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quantity{
  display: flex;
  font-family: Raleway;
  width: 80vw;
  height: 3vh;
  margin: 5px;
  border-radius: 15vw;
  text-align: center;
  font-size: 16px;
  border: none;
  color:#133b60;
  box-shadow: 2px 1px 2px 1px #46464610;
}